
<h2>Welcome, Admin! Update, Delete and Create new stories:</h2>

{{new-story saveStory="saveStory"}}
<div class="row">
  <div class="col-lg-4">
    {{#each model as |story|}}
      {{admin-story-tile story=story destroyStory="destroyStory" update="update"}}
    {{/each}}
  </div>
</div>
